
.idea/compiler.xml
.idea/copyright/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/scala_settings.xml
.idea/uiDesigner.xml
.idea/workspace.xml
project/target/scala-2.10/
project/target/streams/compile/incCompileSetup/
src/main/java/
src/main/scala-2.11/
src/test/
target/scala-2.11/resource_managed/
target/scala-2.11/src_managed/
target/scala-2.11/test-classes/
